<!DOCTYPE html>
<html lang="en">
<head>
<script> 
 var ph = document.getElementById('phone').value;
    console.log(ph);
function validate()
{
    var ph = document.getElementById('phone').value;
    console.log(ph);
   var regEx = /^[7-9][0-9]{9}$/;
   if(regEx.text(ph))
     {
      return true;
     }
   else
     {
     alert("Please enter a valid phone number.");
     return false;
     }
}    
</script> 
</head>
<body>
<div class="mail">
<h2>JavaScript Phone Number Validation</h2>
<form name="form1" action="#"> 
Phone Number: <input type='text' name='phone' value="1234567890"/></br></br>
<input type="submit" name="submit" value="Submit" 
onclick="phoneNumberCheck(document.form1.phone)"/>
</form>
</div>
</body>
</html>